<section class="friends-section">
    <ul class="friends-list">
        <% if @friends != [nil] %>
        <% @friends.each do |friend|  %>
        <%= friend.name %>
        <%= link_to "See profile", user_path(friend)  %>
        <% end  %>
        <% end  %>
    </ul>
</section>